@charset "UTF-8";

/* sets the attributes for the navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    float: center;
}

li a:hover {
    background-color: #111;
    background-image: url("PELogo.png");

}

.active {
    background-color: Red;
}

/* Place the navbar at the bottom of the page, and makes it stick */
.tool-bar {
    background-color: transparent;
    overflow: hidden;
    position: bottom;
    bottom: 0;
    width: 100%;

}

/* Style the links inside the navigation bar */
.tool-bar, a {
    float: center;
    display: block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.tool-barl, a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.tool-bar, a.active {
  color: Red;
}

/* images */

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
}

/* Backgrouund Images */
body {
 background-image: url("FB.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   background-size: 100% 100%;
}

/* div */
.SpanishClub{
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}

.CarPage{
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}

.RecipePage{
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}

/* text */
h1{
  color: White;
  font-family: Impact;
  text-align: center;
}

h2{
  color: White;
  font-family: Impact;
  text-align: center;
}

h3{
  color: White;
  font-family: Impact;
  text-align: center;
}

h4{
  color: White;
  font-family: Impact;
  text-align: center;
}

h5{
  color: White;
  font-family: Impact;
  text-align: center;
}

h6{
  color: White;
  font-family: Impact;
  text-align: center;
}

marquee{
  color: white;
  font-family: Impact;
  text-align: center;
}

th{
  color: white;
  font-family: Impact;
  text-align: center;
}

td{
  color: white;
  font-family: Impact;
  text-align: center;
}
